@media screen and (max-width: 768px) {
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-description-container {
    text-align: center;
  }

  .about-description-container h2 {
    font-size: 27px;
  }

  .about-description-container p,
  .second-desc-para,
  .about-details p {
    width: 100%;
    text-align: center;
  }

  .about-details {
    /* background-color: black; */
    /* color: wheat; */
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .about-details div {
    width: 100%;
    /* border: 2px solid red; */
  }

  .skills-container,
  .skill-card,
  .projects-container,
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  /* body {
    background-color: green;
  } */

  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .header-logo {
    font-size: 14px;
    width: 100%;
  }

  .header-nav {
    display: none;
  }

  .hamburger-menu {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    cursor: pointer;
  }

  .hamburger-menu span {
    display: block;
    height: 4px;
    background-color: oklch(49.6% 0.265 301.924);
    border-radius: 2px;
  }

  .mobile-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    position: absolute; /* for overlay effect*/
    top: 60px;
    left: 0;
    width: 100%;
  }
  .mobile-menu li {
    padding: 10px;
  }

  .mobile-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
    margin: 0 5px;
  }
  /* Show menu when active */
  .mobile-menu.active {
    display: block;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-description-container {
    text-align: center;
  }

  .about-description-container h2,
  .about-second-heading {
    font-size: 22px !important;
  }

  .about-description-container p,
  .second-desc-para,
  .about-details p {
    width: 100%;
    text-align: center;
  }

  .skills-heading-desc p {
    text-align: center;
  }

  .skills-container,
  .skill-card,
  .projects-container,
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .projects-heading-desc p {
    text-align: center;
  }

  .resume-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact-section {
    flex-direction: column;
    width: 100%;
  }

  .contact-container,
  .contact-form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea,
  .send-message {
    width: 100%;
  }

  .contact-form {
    padding: 0;
    margin-top: 20px;
  }
}
